<h1>Login</h1>

<p>This component demonstrates fetching data from the server.</p>

<form>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    </div>
</form>
