<h1>User</h1>

<p>This component demonstrates fetching data from the server.</p>

<p>
    <button class="btn btn-default" (click)="onSave()">Save</button>
</p>

<form *ngIf="user">
    <div class="form-group">
        <label for="alterEgo">Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="alterEgo">Password</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="alterEgo">Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    </div>
</form>
