<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

<p>
    <button class="btn btn-default" (click)="onGet(0)">New</button>
</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table' *ngIf="users">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Token</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.token }}</td>
            <td><button class="btn btn-default" (click)="onGet(user.id)">Edit</button></td>
        </tr>
    </tbody>
</table>
